.user-item {
    margin: 1rem;
    width: calc(45% - 2rem);
    min-width: 17.5rem;
  }
  
  .user-item a:hover,
  .user-item a:active {
    background: #73AD21;
  }
  
  .user-item__content {
    padding: 0;
  }
  
  .user-item__info h2 {
    color: #73AD21;
  }
  
  .user-item__info h3 {
    margin: 0;
  }