.avatar {
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
  }
  
  .avatar img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }